__pycache__/
*.py[cod]
*$py.class
*.pyo

.ipynb_checkpoints/
*.ipynb_checkpoints

venv/
env/
.venv/
ENV/
.python-version

.vscode/
.idea/

.DS_Store
Thumbs.db

*.log
*.tmp
*.bak

data_tmp/
data_test/
!data_processed/

*.zip
*.tar
*.gz

.env
*.env
